@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Crimson Text", Georgia, serif;
  background-color: #fafafa;
  color: #333333;
}

.header {
  display: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #b21124;
  color: #9e9864;
}
.header h1 {
  background-color: #b21124;
  color: #9e9864;
  font-size: 3rem;
}

.main {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 20px;
  padding: 25px;
}

.main__card {
  border: 3px solid #9e9864;
  border-radius: 5px;
  height: 75px;
  display: flex;
}

.front_row_1 {
  grid-row: 1/2;
  grid-column: 2/3;
}

.front_row_2 {
  grid-row: 1/2;
  grid-column: 4/5;
}

.front_row_3 {
  grid-row: 1/2;
  grid-column: 6/7;
}

.second_row_1 {
  grid-row: 2/3;
  grid-column: 3/4;
}

.second_row_2 {
  grid-row: 2/3;
  grid-column: 5/6;
}

.back_row_1 {
  grid-row: 3/4;
  grid-column: 2/3;
}

.back_row_2 {
  grid-row: 3/4;
  grid-column: 4/5;
}

.back_row_3 {
  grid-row: 3/4;
  grid-column: 6/7;
}

.half_back_1 {
  grid-row: 4/5;
  grid-column: 3/4;
}

.half_back_2 {
  grid-row: 4/5;
  grid-column: 5/6;
}

.centre_1 {
  grid-row: 5/6;
  grid-column: 3/4;
}

.centre_2 {
  grid-row: 5/6;
  grid-column: 5/6;
}

.back_three_1 {
  grid-row: 6/7;
  grid-column: 2/3;
}

.back_three_2 {
  grid-row: 6/7;
  grid-column: 4/5;
}

.back_three_3 {
  grid-row: 6/7;
  grid-column: 6/7;
}