// @import "./base";
// // @import "./components";
// @import "./layout";

@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

$font-main: "Crimson Text", Georgia, serif;

$color-primary: #af0121;
$color-secondary: #9e9864;
$color-white: #fafafa;
$color-black: #333333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-main;
  background-color: $color-white;
  color: $color-black;
}

body {
  display: flex;
}

.header {
  width: 20%;
  height: 100vh;
  display: fixed;
  background-color: $color-primary;
  color: $color-secondary;
  border-right: 3px solid $color-secondary;

  h1 {
    background-color: $color-primary;
    color: $color-secondary;
    font-size: 3rem;
    padding-left: 15px;
  }

  ul {
    background-color: $color-primary;
    color: $color-secondary;

    li {
      padding: 5px 10px;
      background-color: $color-primary;
      color: $color-secondary;
    }
  }
}

.image__logo {
  margin: 20% 0;
  width: 100%;
}

.main {
  width: 80vw;
  height: 100vh;
  display: grid;
  position: fixed;
  left: 20%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 20px;
  padding: 25px;
  background-image: url("./images/pitch_background.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.player-list {
  position: fixed;
  // top: 100px;
  // left: 350px;
  width: 350px;
  max-height: 75vw;
  background-color: $color-white;
  border-radius: 10px;
  border: 5px solid $color-secondary;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.hidden {
  display: none;
}

.player-list-button,
.list-close-button {
  margin: 5px;
  width: 250px;
  padding: 5px;
  border: 3px solid $color-secondary;
  border-radius: 5px;
  font-size: 1.5rem;

  &:hover {
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.2);
  }
}

.main__card {
  border: 3px solid $color-secondary;
  border-radius: 5px;
  height: 90px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  opacity: 0.75;
  box-shadow: 2.5px 2.5px;

  &:hover {
    opacity: 1;
    box-shadow: 5px 5px;
    transform: scale(1.1);
  }
}

.active {
  opacity: 1;
  border: 5px solid $color-secondary;
  transform: scale(1.1);
}

.card__number {
  font-family: $font-main;
  font-size: 2rem;
  width: 25%;
  //   margin: 0 10px;
}

.card__name {
  width: 45%;
  font-size: 1.25rem;
}

.card__flag {
  font-size: 2rem;
  width: 25%;
  //   margin-left: 8px;
}

.front_row_1 {
  grid-row: 1/2;
  grid-column: 1/2;
}

.front_row_2 {
  grid-row: 1/2;
  grid-column: 3/4;
}

.front_row_3 {
  grid-row: 1/2;
  grid-column: 5/6;
}

.second_row_1 {
  grid-row: 2/3;
  grid-column: 2/3;
}

.second_row_2 {
  grid-row: 2/3;
  grid-column: 4/5;
}

.back_row_1 {
  grid-row: 3/4;
  grid-column: 1/2;
}

.back_row_2 {
  grid-row: 3/4;
  grid-column: 3/4;
}

.back_row_3 {
  grid-row: 3/4;
  grid-column: 5/6;
}

.half_back_1 {
  grid-row: 4/5;
  grid-column: 2/3;
}

.half_back_2 {
  grid-row: 4/5;
  grid-column: 3/4;
}

.centre_1 {
  grid-row: 5/6;
  grid-column: 3/4;
}

.centre_2 {
  grid-row: 5/6;
  grid-column: 4/5;
}

.back_three_1 {
  grid-row: 6/7;
  grid-column: 1/2;
}

.back_three_2 {
  grid-row: 6/7;
  grid-column: 3/4;
}

.back_three_3 {
  grid-row: 6/7;
  grid-column: 5/6;
}
