@import "../../variables.scss";

.card {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid $secondary-color;
  border-radius: 25px;
  padding: 15px 25px;
  margin: 0 25px 25px;
  justify-content: space-between;
  min-width: 300px;
  width: 800px;
  box-shadow: $box-shadow;
  background: radial-gradient(circle, $primary-color 0%, $secondary-color 100%);

  h2,
  h3 {
    margin-bottom: 10px;
  }
}
