* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
}

.header {
  font-size: 1.5rem;
  margin-top: 25px;
}

.button {
  color: limegreen;
  background-color: dimgrey;
  font-size: 2rem;
  margin: 15px;
  width: 350px;
  padding: 10px;
}

.game-area {
  height: 625px;
  width: 1200px;
  border: 10px solid limegreen;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.row-1,
.row-2,
.row-3 {
  display: flex;
  justify-content: space-evenly;
  margin: 25px;
}

.ship {
  background-color: limegreen;
  border-radius: 25px;
  height: 150px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destroyed {
  border-radius: 25px;
  height: 150px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hit-points {
  font-size: 3rem;
}
